body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 200px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  h3 {
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
  }
}

/* Estilos para el detail y el botón de cerrar */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 18, 18, 0.7);
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: black;
  border-radius: 8px;
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.modalContent .info {
  text-align: center;
  max-width: 100%;
  padding-left: 3rem;
}
.label {
  font-weight: bold;
  color:rgb(166, 206, 229); 
}

.modalImage{
  display: flex;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, 0.847);
  border-radius: 50%;
  font-size: large;
  font-weight: bold;
  padding: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem; 
  margin-left: 60%;
}

/* Estilos para los search y el botón */
.searchContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.search {
  padding: 13px;
  width: 100%;
  border-radius: 8px 0 0 8px;  
  border: 1px solid #ccc; 
  
}
.search:focus {
  border: none;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc; 
}
.searchContainer button {
  border-radius: 0; 
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.searchButton {
  padding: 10px;
  background-color: white;
  color: #fff;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


/* Estilo para la fila de filtros y el botón de reset */
.filterContainer {
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-wrap: wrap;

  margin-top: 20px;
}

/* Estilos para los filtros y el botón de reset */
.filter {
  flex: 1;
  margin-right: 10px;
}

.selectFilter {
  width: 18rem;
  padding: 3px;
}

/* Aplicar estilos al botón de reset */
.resetButton {
  padding: 10px;
  background-color: #535353;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Aplicar estilos paginado */
.paginationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationButton{
  color: black;
  background-color: aliceblue;
  font-weight: bold;
  margin: 1rem;
  font-size:medium;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    justify-content: center;
  }

  .card {
    width: 100%;
  }

}
